<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Prosimy o wypełnienie poniższej ankiety</h1>
</div>

<form role="form" action="/save" method="post">
    <h3>Trochę o Tobie</h3>
    <div class="form-group">
        <label for="gender">Płeć:</label>
        <select class="form-control" id="gender" name="gender">
			<option>kobieta</option>
			<option>mężczyzna</option>
			<option>preferuję nie mówić</option>
		</select>
    </div>
	<div class="form-group">
        <label for="age">Wiek:</label>
        <select class="form-control" id="age" name="age">
        <option>poniżej 18</option>
        <option selected>18-25</option>
        <option>25-35</option>
        <option>35-50</option>
        <option>powyżej 50</option>
    </select>
    </div>
    <div class="form-group">
        <label for="education">Wykształcenie:</label>
        <select class="form-control" id="education" name="education">
			<option>podstawowe</option>
			<option>średnie</option>
			<option>zasadnicze zawodowe</option>
			<option selected>wyższe inżynierskie</option>
			<option>wyższe humanistyczne</option>
			<option>wyższe okołomedyczne</option>
		</select>
    </div>
    <div class="form-group">
        <label for="location">Miejsce zamieszkania:</label>
        <select class="form-control" id="location" name="location">
			<option>wieś</option>
			<option>miasto do 50 tys. mieszkańców</option>
			<option>miasto do 100 tys. mieszkańców</option>
			<option selected>miasto do 250 tys. mieszkańców</option>
			<option>miasto powyżej 250 tys. mieszkańców</option>
		</select>
    </div>
    <div class="form-group">
        <label for="voting">Czy kiedykolwiek opuściłeś/aś referendum, do którego głosowania byłeś/aś uprawniony/a?</label>
        <select class="form-control" id="voting" name="voting">
			<option>Nigdy</option>
			<option>Raz</option>
      <option>Parę razy</option>
      <option>Nie pamiętam</option>
      <option>Nie chodzę z przekonania</option>
		</select>
    </div>	
	

    <h3>Przejdźmy do konkretów</h3>
    <b>1. Czy Polska powinna wejść do strefy euro?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q1" value="1" checked>Tak, już dawno powinniśmy to zrobić
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q1" value="2">Tak, w ciągu najbliższych paru lat
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q1" value="3">Tak, ale dopiero za jakieś kilkanaście lat
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q1" value="4">Nie, powinniśmy walczyć o zostanie przy złotówkach
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q1" value="5">Nie mam zdania
        </label>
    </div>
	<!-- 
	Czy to pytanie powinno pojawić się na referendum?
	<div class="form-group">
		<label class="radio-inline">
          <input type="radio" name="r1" value="1" checked> Tak
        </label>
		<label class="radio-inline">
          <input type="radio" name="r1" value="2"> Nie
        </label>
	</div>
	-->
    <b>2. Czy należy zmienić prawa podatkowe dotyczące Kościoła katolickiego w Polsce?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q2" value="1" checked>Tak, wiary nie powinno się podatkować, należy zmniejszyć liczbę podatków płaconych przez Kosciół
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q2" value="2">Tak, organizacje religijne nie powinny być zwalniane z podatków od nieruchomości, działalności wychowawczej, kulturowej itd.
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q2" value="3">Tak, konieczna jest dokumentacja przychodów z datków, zbiórek oraz opłat za sakramenty
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q2" value="4">Tak, należy zwiększyć ryczałty płacone przez parafie
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q2" value="5"> Nie, aktualne prawo jest wystarczające
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q2" value="6"> Nie mam zdania
        </label>
    </div>
    <b>3. Czy rekreacyjna marihuana powinna być legalna w Polsce?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q3" value="1" checked>Tak
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q3" value="2">Tak, ale hodowla powinna być kontrolowana
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q3" value="3">Nie, ale trzeba zwiększyć dostępność konopii leczniczych
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q3" value="4">Nie, powinno się jej zakazać w każdej formie
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q3" value="5">Nie mam zdania
        </label>
    </div>
    <b>4. Czy jesteś za zakazem produkcji żywności modyfikowanej GMO?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q4" value="1" checked>Tak, trzeba zakazać sprzedaży produktów GMO
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q4" value="2">Nie, ale wszystkie muszą być wyraźnie oznaczone
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q4" value="3">Nie, ale należy wprowadzić zaostrzone testy bezpieczeństwa
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q4" value="4">Nie, GMO poprawia jakość żywności
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q4" value="5">Nie mam zdania
        </label>
    </div>
    <b>5. Czy sądzisz, że budowa elektrowni jądrowych w Polsce jest konieczna?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q5" value="1" checked>Tak, trzeba odejść od użycia węgla
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q5" value="2">Nie, sam koszt budowy jest zbyt duży
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q5" value="3">Nie, ryzyko jest zbyt duże
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q5" value="4">Nie, lepszym rozwiązaniem jest elektrownia wodna, słoneczna, wiatrowa
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q5" value="5">Nie mam zdania
        </label>
    </div>	
    <b>6. Czy szczepienia dzieci powinny być obowiązkowe?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q6" value="1" checked>Tak, chroni nas to przed epidemiami
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q6" value="2">Nie, decyzja powinna należeć do rodziców
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q6" value="3">Nie, szczepionki są szkodliwe
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q6" value="4">Nie mam zdania
        </label>
    </div>	
    <b>7. Czy klauzula sumienia lekarzy powinna zostać zniesiona?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q7" value="1" checked>Tak, o leczeniu powinny decydować wskazania medyczne i potrzeby pacjenta, nie emocje
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q7" value="2">Nie, chroni ona lekarzy i ich zdrowie psychiczne
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q7" value="3">Nie, ale należy ją zmodyfikować - przykładowo wykluczyć z niej środki antykoncepcyjne
        </label><br>
		    <label class="radio-inline">
          <input type="radio" name="q7" value="4">Nie, powinna obejmować też farmaceutów
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q7" value="5">Nie mam zdania
        </label>
    </div>	
    <b>8. Czy tabletki "dzień po" powinny być zakazane?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q8" value="1" checked>Tak
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q8" value="2">Nie
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q8" value="3">Nie, ale recepta nie powinna być konieczna
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q8" value="4">Nie mam zdania
        </label>
    </div>	
    <b>9. Czy aborcja powinna być legalna?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q9" value="1" checked>Tak, w każdym przypadku
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q9" value="2">Tak, przy obowiązujących ograniczeniach
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q9" value="3">Nie, w żadnym wypadku
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q9" value="4">Nie mam zdania
        </label>
    </div>
     <b>10. Czy należy zalegalizować małżeństwa homoseksualne?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q10" value="1" checked>Tak
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q10" value="2">Nie
        </label><br>
		    <label class="radio-inline">
          <input type="radio" name="q10" value="3">Za kilka lat
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q10" value="4">Nie mam zdania
        </label>
    </div>
	<b>11. Czy należy zmienić przepisy adopcyjne?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q11" value="1" checked>Tak, proces jest zbyt długi
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q11" value="2">Tak, ślub nie powinien być wymogiem koniecznym
        </label><br>
	    	<label class="radio-inline">
          <input type="radio" name="q11" value="3">Tak, pary homoseksualne powinny mieć możliwość adopcji
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q11" value="4">Nie, aktualne przepisy spełniają swoją rolę
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q11" value="5">Nie mam zdania
        </label>
    </div>
	<b>12. Czy eutanazja w Polsce powinna być legalna?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q12" value="1" checked>Tak, ale tylko pacjent może o tym zadecydować
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q12" value="2">Tak, ale tylko w przypadkach, gdy pacjent cierpi bez nadziei na poprawę
        </label><br>
		    <label class="radio-inline">
          <input type="radio" name="q12" value="3">Nie
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q12" value="4">Nie mam zdania
        </label>
    </div>
	<b>13. Czy należy przywrócić karę śmierci?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="q13" value="1" checked>Tak, ale tylko w przypadkach umyślnego spowodowania śmierci
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q13" value="2">Tak, ale tylko w przypadkach, gdy nie ma wątpliwości o winie oskarżonego
        </label><br>
		    <label class="radio-inline">
          <input type="radio" name="q13" value="3">Nie, dożywocie jest wystarczającą karą
        </label><br>
        <label class="radio-inline">
          <input type="radio" name="q13" value="4">Nie mam zdania
        </label>
    </div>
    <b>14. Które z powyższych pytań powinny według Ciebie zostać poruszone podczas referendum?</b>
    <div class="form-group">
        1 <input type="checkbox" name="q14" value="1">
        2 <input type="checkbox" name="q14" value="2">
        3 <input type="checkbox" name="q14" value="3">
        4 <input type="checkbox" name="q14" value="4">
        5 <input type="checkbox" name="q14" value="5">
        6 <input type="checkbox" name="q14" value="6">
        7 <input type="checkbox" name="q14" value="7">
        8 <input type="checkbox" name="q14" value="8">
        9 <input type="checkbox" name="q14" value="9">
        10 <input type="checkbox" name="q14" value="10">
        11 <input type="checkbox" name="q14" value="11">
        12 <input type="checkbox" name="q14" value="12">
        13 <input type="checkbox" name="q14" value="13">
    </div>
    <br>
    <button type="submit" class="btn btn-default">Zapisz swoje odpowiedzi</button>
</form>

{% endblock %}

