<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <h1>Poznajmy się :)</h1>
   <div class="jumbotron" style="text-align: center">
     <div></div>
      <figure style='display: inline-block;padding:5px'>
        <img src="/static/photo/t1.jpg" width="150" height="150" alt="Daria jest teraz niedostępna" >
        <figcaption>Daria Akin</figcaption>
      </figure>
      <figure style='display: inline-block;padding:5px'>
        <img src="/static/photo/t2.jpg"  width="150" height="150"  alt="Natalia jest teraz niedostępna">
        <figcaption>Natalia Łuczywo</figcaption>
      </figure>    
      <figure style='display: inline-block;padding:5px'>
        <img src="/static/photo/t3.jpg"  width="150" height="150"  alt="Monika jest teraz niedostępna">
        <figcaption>Monika Pierzchała</figcaption>
      </figure>    
      <figure style='display: inline-block;padding:5px'>
        <img src="/static/photo/t4.jpg"  width="150" height="150"  alt="Asia jest teraz niedostępna">
        <figcaption>Joanna Samek</figcaption>
      </figure>    
      <figure style='display: inline-block;padding:5px'>
        <img src="/static/photo/t5.jpg"  width="150" height="150"  alt="Justyna jest teraz niedostępna">
        <figcaption>Justyna Różycka</figcaption>
      </figure>
  </div>

  <div class="page-header">
    <h1>Co dalej?</h1>
  </div>
  
  <p>
    <a href="/form" class="btn btn-success" role="button">Wypełnij ankietę</a>
    <a href="/result" class="btn btn-primary" role="button">Zobacz wyniki</a>
  </p>


{% endblock %}

