<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="text-align: center">
    <h1>Cześć!</h1>
    <p>Miło nam Cię tu powitać 😊</p> 
  </div>

  <div class="page-header" style="text-align: center">
    <h1>Co chciałbyś/chciałabyś zrobić?</h1>
  </div>
  <p style="text-align: center">
    <a href="/form" class="btn btn-success" role="button">Wypełnić ankietę</a>
    <a href="/result" class="btn btn-primary" role="button">Zobaczyć wyniki ankiety</a>
  </p>


{% endblock %}

